{% extends "base.html" %}

{% block content %}

<div class="row">

    <!-- load sidebar here -->
    {% include "dashboard/sidebar.html" %}
    <!-- right side content -->
    <div class="col-md-9">
        <h2 class="">All Blog Posts</h2>
        <a class="btn btn-dark text-light float-right mb-2" href="{% url 'add_post' %}">Add Post</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Author</th>
                    <th>Status</th>
                    <th>Featured</th>
                    <th>Action</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <th>{{forloop.counter}}</th>
                    <td>{{post.title}}</td>
                    <td>{{post.category}}</td>
                    <td>{{post.author}}</td>
                    <td>{{post.status}}</td>
                    <td>{% if post.is_featured %}<i class="fa-solid fa-check text-success"></i>{% else %}<i class="fa-solid fa-x text-danger"></i>{% endif %}</td>
                    <td>
                        <a href="{% url 'edit_post' post.id %}"><i class="fa-solid fa-pen-to-square text-success "></i></a>
                        &nbsp;
                        <a href="{% url 'delete_post' post.id %}"><i class="fa-solid fa-trash text-danger"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    {% endblock content %}